# Gradle
.gradle/
**/build/
/local.properties
/.idea/
.DS_Store
*.iml

# Android
captures/
.externalNativeBuild/
.cxx/

# Keystore & signing
*.keystore
*.jks
signing.properties

# Firebase
app/google-services.json

# Outputs
app/build/outputs/

